<footer>
	<div class="container">
		<div class="col-md-10 offset-1 d-center">
			<div class="op6 col-md-4">Designed and developed by somethin' techie</div>
			<div class="col-md-2"><a href="#">Terms and conditions</a></div>
			<div class="col-md-2"><a href="#">Privacy policy</a></div>
			<div class="col-md-2"><a href="#">POPI</a></div>
			<div class="col-md-2">
				<div class="list-item">
					<div class="left d-center">
						<a href="#" style="color: #333;" class="bi bi-instagram s-text mr20"></a>
						<a href="#" style="color: #333;" class="bi bi-facebook s-text mr20"></a>
						<a href="#" style="color: #333;" class="bi bi-twitter s-text mr20"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>