<div class="ui-header d-center sticky animated slideInDown">
	<div class="container">
		<div class="col-md-10 offset-1 d-space-between">
			<div class="left">
				<!-- <img src="/logos/chaid-logo-black-fill.svg" width="100" alt="" style="margin-right: 40px;"> -->
				<a href="/" style="font-size: 25px;">CHAID</a>
				<a class="link" href="/about">About us</a>
				<a class="link" href="/team">Team</a>
				<a class="link" href="/services">Services</a>
				<a class="link" href="/contact">Contact us</a>
			</div>
			<div class="right d-center">
				<!-- <img src="/media/istockphoto-483348293-612x612.jpg" width="20" style="border-radius: 2px;" alt=""> -->
				<a class="country-link" href="#" style="opacity: .6;color: #000;margin-left: 10px;font-size: 12px;">South Africa</a>
				<i class="bi bi-list" onclick="showDropdownNav()" style="font-size: 25px"></i>
			</div>
		</div>
	</div>
</div>
<div class="ui-header d-center">
	<div class="container">
		<div class="col-md-10 offset-1 d-space-between">
			<div class="left">
				<!-- <img src="/logos/chaid-logo-black-fill.svg" width="100" alt="" style="margin-right: 40px;"> -->
				<!-- <img src="/logos/chaid-logo-black-fill.svg" width="100" alt="" style="margin-right: 40px;"> -->
				<a href="/" style="font-size: 25px;">CHAID</a>
			</div>
			<div class="right d-center">
				<!-- <img src="/media/istockphoto-483348293-612x612.jpg" width="20" style="border-radius: 2px;" alt=""> -->
				<a class="country-link" href="#" style="opacity: .6;color: #000;margin-left: 10px;font-size: 12px;">South Africa</a>
				<i class="bi bi-list" onclick="showDropdownNav()" style="font-size: 25px"></i>
			</div>
		</div>
	</div>
</div>
<div class="dropwon-nav">
	<a href="/">Home</a>
	<a href="/about">About us</a>
	<!-- <a href="/team">Team</a> -->
	<a href="/services">Solutions</a>
	<a href="/investors">Investors</a>
	<a href="/mentors">Mentors</a>
	<a href="/faqs">FAQs</a>
	<a href="/contact" style="border-bottom: none;">Contact us</a>
	<div class="footer">Designed and developed by Somethin' Techie</div>
</div>