<div class="ui-navigation d-center">
	<div class="container">
		<div class="col-md-10 offset-1">
			<a href="/">Home</a>
			<a href="/about">About us</a>
			<!-- <a href="/team">Team</a> -->
			<a href="/services">Solutions</a>
			<a href="/investors">Investors</a>
			<a href="/services">Mentors</a>
			<a href="/faqs">FAQs</a>
			<a href="/contact">Contact us</a>
		</div>
	</div>
</div>