<div class="ui-navigation d-center">
	<div class="container">
		<div class="col-md-10 offset-1">
			<a href="/about">About us</a>
			<a href="/team">Team</a>
			<a href="/services">Services</a>
			<a href="/contact">Contact us</a>
		</div>
	</div>
</div>