<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 filter" style="background: #01263a;background-image: url('/media/group-business-people-having-fun.jpg')">
	<div class="container">
		<div class="col-md-10 offset-1 d-space-between about-banner" style="height: 400px;color: #fff;">
			<div class="col-md-12 text-center">
				<h1 class="mb-3" style="font-weight: lighter;">Learn more about us</h1>
				<p style="font-size: 25px;font-weight: lighter;position: relative;">
					Fueling business growth and empowering entrepreneurs is our mission at CHAID – Corporate Premium Aid. Through tailored programs, expert guidance, and a focus on compliance, we provide essential tools to navigate regulatory landscapes, ensuring peace of mind. Partnering with us not only unlocks employment opportunities but also fosters a more inclusive economy, making a positive impact on the community.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 d-center animated fadeInUp" style="background: #f7f7f7">
	<div class="container mb-5">
		<div class="col-md-10 offset-1 mt-5">
			<div class="col-md-6" style="float: left">
				<div class="col-md-12" style="float: left">
					<div class="solution" style="border: none;height: auto;">
						<!-- <i class="bi bi-layers"></i> -->
						<h1 style="color: #01263a">01</h1>
						<h4 style="color: #01263a" class="mt-4">Who we are.</h4>
						<p style="text-align: justify;" class="mt-3">
							We are a team consisting of entrepreneurs who understand the common
							challenges faced by entrepreneurs and start-ups. At CHAID, we are fully
							committed to assisting you in elevating your business to the next level and are
							willing to go the extra mile to achieve this.
						</p>
					</div>
				</div>
				<div class="col-md-12" style="float: left;padding-top: 0">
					<div class="solution" style="border: none;height: auto;padding-top: 0;">
						<!-- <i class="bi bi-layers"></i> -->
						<h1 style="color: #01263a">02</h1>
						<h4 style="color: #01263a" class="mt-4">Why CHAID?</h4>
						<p style="text-align: justify;" class="mt-3">
							CHAID is not just a start-up accelerator; it offers much more.
							We go beyond being a mere start-up accelerator. We pride ourselves on not
							following the typical mould of a start-up or business accelerators. Our
							dedication to your business&#39; success is unwavering, and we take this
							commitment very seriously. <br><br>
							We partner with you to guarantee the growth and
							expansion of your business, ensure it is compliant and sustainable, create
							employment and contribute to the economy. <br><br>
							Although receiving entrepreneurial and business advice can be beneficial, the
							level of support and collaboration we offer is unparalleled. We are committed
							to assisting you in building and refining your service or product, identifying
							practical solutions to improve operational efficiency, seeking new distribution
							partnerships, and even participating in pitching your business to potential
							investors, among other valuable services. <br><br>
							Our team has a wealth of experience in scaling businesses across various
							industry verticals, and we understand the significance of technical expertise,
							mentorship, personal development, excellence, prompt delivery, and
							unwavering hard work. These qualities hold immense value in any industry
							vertical, and we are fully equipped to provide them to you.
						</p>
					</div>
				</div>
				<div class="col-md-12" style="float: left;padding-top: 0">
					<div class="solution" style="border: none;height: auto;padding-top: 0;">
						<!-- <i class="bi bi-layers"></i> -->
						<h1 style="color: #01263a">03</h1>
						<h4 style="color: #01263a" class="mt-4">How we do business acceleration</h4>
						<p style="text-align: justify;" class="mt-3">
							At CHAID, we have a deep understanding of what entrepreneurs need to
							lead, build, and grow businesses. Our proven and holistic approach to
							business acceleration significantly contributes to the development of
							entrepreneurs and their businesses. We consistently achieve this by
							integrating technical skills with mentorship and personal development.
							<br><br>
							We are shaping a new narrative for entrepreneurship, including those from
							townships, rural areas, women, youth, and the elderly, to have a positive
							impact on the economy, create much-needed job opportunities, uplift
							communities and generate return on investment for the companies who
							support them. <br><br>
							CHAID collaborates with driven entrepreneurs, investors, communities, and
							other stakeholders to promote employment and an equitable economic future
							by empowering both emerging start-ups and established businesses.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="float: left">
				<div class="col-md-12" style="float: left">
					<div class="solution" style="height: auto;border: none">
						<!-- <i class="bi bi-layers"></i> -->
						<h1 style="color: #01263a">05</h1>
						<h4 style="color: #01263a" class="mt-4">How we do business <br>acceleration</h4>
						<p style="text-align: justify;" class="mt-3">
							At CHAID, we possess a profound understanding of the essential elements required by entrepreneurs to lead, build, and foster business growth.
							<br><br>
							Our proven, comprehensive approach to business acceleration combines technical expertise with mentorship and personal development, fostering the advancement of entrepreneurs and their enterprises. We are reshaping the narrative of entrepreneurship, specifically targeting individuals from townships, rural areas, women, youth, and the elderly.
							<br><br>
							Our mission extends beyond economic impact, encompassing the creation of job opportunities, community upliftment, and generating a meaningful return on investment for supporting companies. <br><br>Through collaboration with ambitious entrepreneurs, investors, communities, and stakeholders, CHAID actively promotes employment and champions an equitable economic future, empowering both emerging start-ups and established businesses alike.
						</p>
					</div>
				</div>
			</div>
				
		</div>
	</div>
</div>
<div class="col-md-12 d-center animated fadeInUp">
	<div class="container mb-5">
		<div class="col-md-10 offset-1">
			<div class="col-md-12" style="float: left">
				<div class="solution" style="border: none;height: auto;">
					<!-- <i class="bi bi-layers"></i> -->
					<h1 style="color: #01263a">06</h1>
					<h4 style="color: #01263a" class="mt-4">What drives us.</h4>
					<p style="text-align: justify;" class="mt-3">
						Everything we do is underpinned by our core values. <br>
						We wouldn't be able to re-imagine business acceleration without the strong
						foundation of our values:
					</p>
				</div>
				<ul style="padding: 0 55px">
					<li style="width: 100%;padding: 10px 0;border-bottom: solid .1px #eee">We value respect, integrity, transparency, accountability, collaboration and excellence.</li>
					<li style="width: 100%;padding: 10px 0;border-bottom: solid .1px #eee">We foster win-win partnerships.</li>
					<li style="width: 100%;padding: 10px 0;border-bottom: solid .1px #eee">We help build profitable and sustainable businesses.</li>
					<li style="width: 100%;padding: 10px 0;border-bottom: solid .1px #eee">We strive to empower our entrepreneurs today to create employment and an inclusive economy in the future.</li>
					<li style="width: 100%;padding: 10px 0;border-bottom: solid .1px #eee">We are committed to turning your bold vision into reality.</li>
				</ul>
			</div>
			<div class="col-md-12" style="float: left">
				<div class="solution" style="border: none;height: auto;">
					<!-- <i class="bi bi-layers"></i> -->
					<h1 style="color: #01263a">07</h1>
					<h4 style="color: #01263a" class="mt-4">What we offer.</h4>
					<p style="text-align: justify;" class="mt-3">
						We assist you to achieve greater progress with our proven methodologies
						specifically designed for starting, growing and scaling businesses. <br><br>
						Whether you want to start or grow your business, we prioritise our efforts to
						ensure that our entrepreneurs have access to markets and funding
						opportunities. If you’re in search of corporate ESD solutions, a supplier, or a
						hot desk or meeting room for rent, then CHAID is the ideal entrepreneur and
						business ecosystem for you. <br><br>
						Our team comprises experts in diverse fields including business strategy,
						product development, growth marketing, legal, finance, business
						<br><br>
						development, talent acquisition, technology, strategic partnerships,
						fundraising, and investment. With our unique skillset, we are ready to
						collaborate with entrepreneurs of bold businesses to tackle the pressing
						issues of unemployment and poverty by empowering them and their
						businesses.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>