<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="ui-hero" style="height: 300px">
	<div class="ui-slide d-center active" style="">
		<div class="container">
			<div class="col-md-10 offset-1 d-space-between">
				<div class="ui-slide-caption col-md-8 offset-2 animated text-center">
					<h1 style="color: #fff;" class="animated fadeInUp">CHAID'S <br> Academy Option</h1>
					<p class="mt-4 animated fadeInUp" style="animation-delay: .2s;opacity: .6!important;">
						With the support of skilled mentors, engaging seminars in person and online,
						and ongoing performance monitoring, our services prioritise the enhancement
						of leadership skills, market access, and preparation for investment.
						Our team of experts partner with our entrepreneurs to ensure you possess the
						necessary skills to propel your business forward. Moreover, our team and
						partners offer a range of valuable resources and assets.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section col-md-12" style="padding-bottom: 100px;">
		<div class="container">
			<div class="col-md-10 offset-1">
				<h3 class="text-center mb-5">What’s in it for you?</h3>
				<div class="col-md-12">
					<div class="col-md-6" style="float: left;">
						<h3>The Cornerstone Incubator <br> Programme</h3>
						<p>
							In the Cornerstone Incubator Programme, we offer a collaborative approach
							to developing new businesses. This programme is specifically designed for
							entrepreneurs in the early stages of ideation, pre-revenue, or start-up. Over
							twelve months, we aim to guide you from having a basic idea or an
							unstructured existing business to a point where you can take your business to
							the next level.
						</p>
					</div>
					<div class="col-md-6" style="float: left;"></div>
					<div class="col-md-6" style="float: left;"></div>
					<div class="col-md-6" style="float: left;">
						<h3>The Cornerstone Incubator Programme</h3>
						<p>
							In the Cornerstone Incubator Programme, we offer a collaborative approach
							to developing new businesses. This programme is specifically designed for
							entrepreneurs in the early stages of ideation, pre-revenue, or start-up. Over
							twelve months, we aim to guide you from having a basic idea or an
							unstructured existing business to a point where you can take your business to
							the next level.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="partners">
		<img src="/logos/Screenshot_2023-07-17_at_17.06.23-removebg-preview.png" alt="">
	</div>
</div>
<%- include('./partials/footer') %>









