<style>
	label {
		margin-top: 20px;
		padding-left: 15px;
	}
</style>
<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 mt-5">
	<div class="container">
		<div class="col-md-10 offset-1 text-center">
			<h1>Application <br>for entrepreneurs</h1>
			<p class="col-md-8 offset-2 mt-4 op6">
				We are on a mission to Unlocking Growth, Empowering Entrepreneurs: CHAID –
				Corporate Premium Aid.
				We are currently searching for established, early-stage startups and ambitious
				entrepreneurs to join CHAID.
			</p>
		</div>
	</div>
</div>
<div class="col-md-12 mt-5">
	<div class="container">
		<div class="col-md-6 offset-3">
			<form action="#" class="form">
				<div class="form-group">
					<label for="">Name of Business or Product</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Busniess name">
					</div>
					<label for="">Is the business registered with the South African CIPC?</label>
					<div class="input-group ui-border">
						<select type="text" class="input-controller" placeholder="Busniess name">
							<option value="">Select</option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							<option value="In progress">In progress</option>
							<option value="Not yet">Not yet</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<label for="">Registered/Trading Name of Business</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Enter business name">
					</div>
					<label for="">Which CHAID programme are you applying for?</label>
					<div class="input-group ui-border">
						<select type="text" class="input-controller" placeholder="Busniess name">
							<option value="">Select</option>
							<option value="CHAID Ally">CHAID Ally</option>
							<option value="CHAID Companion">CHAID Companion</option>
							<option value="Prominent CHAID (Charge per service)">Prominent CHAID (Charge per service)</option>
							<option value="School Incubator Programmet">School Incubator Programmet</option>
						</select>
					</div>
					<label for="">Is the business registered for South African Tax?</label>
					<div class="input-group ui-border">
						<select type="text" class="input-controller" placeholder="Busniess name">
							<option value="">Select</option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							<option value="In progress">In progress</option>
							<option value="Not yet">Not yet</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<label for="">If the business have a business website please share the link here</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Business website link">
					</div>
					<label for="">Title, Name and Surname of main contact person</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Contact person title">
					</div>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Contact person name">
					</div>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Contact person surname">
					</div>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Contact person email">
					</div>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Contact person mobile number">
					</div>
					<label for="">Gender</label>
					<div class="input-group ui-border">
						<select type="text" class="input-controller" placeholder="Busniess name">
							<option value="">Select</option>
							<option value="Female">Female</option>
							<option value="Male">Male</option>
							<option value="Prefer not to say">Prefer not to say</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<label for="">What is your role in the business?</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Role">
					</div>
					<label for="">Phone number</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Phone number">
					</div>
					<label for="">WhatsApp Number</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="WhatsApp Number">
					</div>
					<label for="">Email Address</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Email Address">
					</div>
					<label for="">Is your business technology-based or technology enabled?</label>
					<div class="input-group ui-border">
						<textarea name="" id="" cols="30" rows="2" placeholder="Please describe shortly what technology is being used or developed to support your business model."></textarea>
					</div>
					<label for="">What problem is your business / technology solving?</label>
					<div class="input-group ui-border">
						<textarea name="" id="" cols="30" rows="2" placeholder="Please describe shortly what technology is being used or developed to support your business model."></textarea>
					</div>
					<label for="">Please upload supporting documents such as a business profile or plan Click to upload files,</label>
					<div class="input-group ui-border">
						<input type="file" class="input-controller">
					</div>
					<label for="">How many employees does the business have?</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Type here">
					</div>
					<label for="">Which of the following options best describes the stage of your business idea?</label>
					<div class="input-group ui-border">
						<select type="text" class="input-controller" placeholder="Busniess name">
							<option value="">Select</option>
							<option value="Seed stage">Seed stage</option>
							<option value="Start-up stage">Start-up stage</option>
							<option value="Growth stage">Growth stage</option>
							<option value="Established stage">Established stage</option>
							<option value="Expansion stage">Expansion stage</option>
							<option value="Decline stage">Decline stage</option>
							<option value="Exit stage">Exit stage</option>
						</select>
					</div>
					<label for="">At what stage is your Technology Development?</label>
					<div class="input-group ui-border">
						<select type="text" class="input-controller" placeholder="Busniess name">
							<option value="">Select</option>
							<option value="Renewal stage">Renewal stage</option>
							<option value="Concept idea">Concept idea</option>
							<option value="Growth stage">Growth stage</option>
							<option value="Research / conducting feasibility studies">Research / conducting feasibility studies</option>
							<option value="Model / prototype developed">Model / prototype developed</option>
							<option value="Pilot implementation in place">Pilot implementation in place</option>
							<option value="Started production">Started production</option>
						</select>
					</div>

					<label for="">Where did you hear about CHAID?</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Where did you hear about CHAID?">
					</div>
					
					<label for="">Additional information</label>
					<div class="input-group ui-border">
						<textarea name="" id="" cols="30" rows="2" placeholder="Please feel free to share any additional comments or contact details."></textarea>
					</div>
				</div>
				<div class="form-group mt-4">
					<input type="submit" value="SUBMIT APPLICATION" class="std-btn primary" style="border: none">
				</div>
			</form>
		</div>
	</div>
</div>