<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 mt-5">
	<div class="container">
		<div class="col-md-10 offset-1 text-center">
			<h1>Application <br>for entrepreneurs</h1>
			<p class="col-md-8 offset-2 mt-4 op6">
				We are on a mission to Unlocking Growth, Empowering Entrepreneurs: CHAID –
				Corporate Premium Aid.
				We are currently searching for established, early-stage startups and ambitious
				entrepreneurs to join CHAID.
			</p>
		</div>
	</div>
</div>
<div class="col-md-12 mt-5">
	<div class="container">
		<div class="col-md-6 offset-3">
			<form action="#" class="form">
				<div class="form-group">
					<label for="">Name of Business or Product</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Busniess name">
					</div>
					<label for="">Is the business registered with the South African CIPC?</label>
					<div class="input-group ui-border">
						<select type="text" class="input-controller" placeholder="Busniess name">
							<option value="">Select</option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							<option value="In progress">In progress</option>
							<option value="Not yet">Not yet</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<label for="">Registered/Trading Name of Business</label>
					<div class="input-group ui-border">
						<input type="text" class="input-controller" placeholder="Enter business name">
					</div>
					<label for="">Which CHAID programme are you applying for?</label>
					<div class="input-group ui-border">
						<select type="text" class="input-controller" placeholder="Busniess name">
							<option value="">Select</option>
							<option value="CHAID Ally">CHAID Ally</option>
							<option value="CHAID Companion">CHAID Companion</option>
							<option value="Prominent CHAID (Charge per service)">Prominent CHAID (Charge per service)</option>
							<option value="School Incubator Programmet">School Incubator Programmet</option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>