<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="hero-placeholder"></div>
<div class="ui-hero" style="height: calc(100% - 120px);">
	<div class="ui-slide d-center" style="background-image: url('/media/landscape.jp');">
		<div class="container">
			<div class="col-md-10 offset-1 d-space-between">
				<div class="ui-slide-caption col-md-8 animated fadeInUp">
					<h1 style="font-size: 50px;color: #fff;font-weight: bolder;" class="">Get in touch <br> with us.</h1>
					<div class="list-item">
						<div class="left d-center">
							<i class="bi bi-envelope-open"></i>
							<p>info@chaid.com</p>
						</div>
					</div>
					<div class="list-item">
						<div class="left d-center">
							<i class="bi bi-telephone"></i>
							<p>112 837 9483</p>
						</div>
					</div>
					<div class="list-item">
						<div class="left d-center">
							<i class="bi bi-geo"></i>
							<p>44 Richard Rd, Halfway House, Midrand</p>
						</div>
					</div>
					<div class="list-item mt-4">
						<div class="left d-center">
							<a href="#" class="bi bi-instagram s-text mr20"></a>
							<a href="#" class="bi bi-facebook s-text mr20"></a>
							<a href="#" class="bi bi-twitter s-text mr20"></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<form action="#" class="ui-card bgw">
						<h2 class="mb-4">Contact form</h2>
						<div class="form-group">
							<label for="">Email</label>
							<div class="input-group ui-border">
								<i class="bi bi-envelope-open"></i>
								<input type="text" name="email" placeholder="Enter email">
							</div>
							<label for="">Phone number</label>
							<div class="input-group ui-border">
								<i class="bi bi-telephone"></i>
								<input type="text" name="email" placeholder="Enter mobile number">
							</div>
							<label for="">Message</label>
							<div class="input-group ui-border">
								<textarea type="text" name="email" placeholder="Enter mobile number"></textarea>
							</div>
						</div>
						<div class="form-group mt-3 col-md-12">
							<input type="submit" class="std-btn col-md-12">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>









