<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 mt-5">
	<div class="container">
		<div class="col-md-10 offset-1">
			<h1 class="f-title">FAQs</h1>
			<div class="faqs">
				<div class="col-md-12 d-space-between">
					What does CHAID do?
					<i class="bi bi-plus"></i>
				</div>
				<p>
					We offer the tools and resources needed to fuel your business&#39; growth
					through customised programmes and solutions, as well as experienced
					guidance. Our emphasis on compliance ensures that you navigate the
					regulatory landscape with ease, providing you with peace of mind while you
					grow your business. <br><br>
					However, we do not stop there. We recognise the significance of tackling
					unemployment issues. By collaborating with us, you actively contribute to
					increasing opportunities for employment, making a positive influence in the
					community, and promoting a more equitable economy. <br><br>
					Join our community of high-performing entrepreneurs and experienced
					mentors who are committed to your success. <br><br>
					Let&#39;s work together to unlock your business&#39;s potential, generate growth, and
					make a significant influence in South Africa&#39;s business landscape.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					What is Enterprise Development?
					<i class="bi bi-plus"></i>
				</div>
				<p>
					Enterprise Development (ED) is the act of assisting a small business in
					becoming self-sustaining and profitable. This allows people to make a living
					and contributes to long-term economic prosperity for themselves, their
					families, and their communities.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					How can you help my business?
					<i class="bi bi-plus"></i>
				</div>
				<p>
					Through 360-degree business support, CHAID&#39;s programmes are designed to
					transform your growth potential. While the specific nature of this support
					varies by programme, it may include:
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					How is an entrepreneur chosen?
					<i class="bi bi-plus"></i>
				</div>
				<p>
					While each programme has different selection criteria, CHAID is constantly
					looking for intriguing businesses led by performance-orientated founders who
					are hungry for change and sustainable growth.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					Will we sign an NDA?
					<i class="bi bi-plus"></i>
				</div>
				<p>
					Yes, we maintain tight secrecy with every venture, in addition to agreements
					in accordance with the Protection of Personal Information (POPI) Act.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					How does CHAID manage our IP?
					<i class="bi bi-plus"></i>
				</div>
				<p>
					CHAID has a rigorous policy that restricts access to applications made via this
					website to the executive team, who are bound by strong confidentiality
					requirements. Other managers and employees do not have access to CHAID
					applications.
				</p>
			</div>

		</div>
	</div>
</div>