<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="ui-hero" style="background-image: url('/media/37385.jp');">
	<div style="width: 100%;height: 100%;background-image: url('/media/37385.jpg');background-size: cover;background-position: center;position: absolute;left: 0;top: 0;opacity: .7;"></div>
	<div class="gradient"></div>
	<div class="ui-slide d-center active" style="">
		<div class="container">
			<div class="col-md-10 offset-1 d-space-between">
				<div class="ui-slide-caption col-md-12 text-center animated">
					<h1 style="color: #fff;font-size: 60px;font-weight: lighter;" class="animated fadeInUp">Your Entrepreneurial <br>Journey Starts Here</h1>
					<p class="mt-4 animated fadeInUp col-md-6 offset-3" style="animation-delay: .2s;opacity: .6!important;">
						Welcome to a dynamic space where dreams take flight and ambitions are transformed into reality. At CHAID, we are more than an incubator – we're the architects of entrepreneurial success.
					</p>
					<div class="social">
						<a href="#"><i class="bi bi-facebook"></i></a>
						<a href="#"><i class="bi bi-twitter"></i></a>
						<a href="#"><i class="bi bi-instagram"></i></a>
						<a href="#"><i class="bi bi-whatsapp"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="partners">
		<img src="/logos/Screenshot_2023-07-17_at_17.06.23-removebg-preview.png" alt="">
	</div>
</div>

<div class="section primarybg col-md-12" style="padding-bottom: 100px;background: #01263a;">
	<div class="container">
		<div class="col-md-10 offset-1">
			<h3 class="col-md-12 text-center" style="color: #a2855b;padding-left: 10px;font-weight: lighter;">CHAID's <br> Services offering</h3>
			<div class="col-md-12 mt-5">
				<div class="col-md-4" style="float: left;padding: 0;">
					<div class="service">
						<i class="bi bi-layers"></i>
						<h5 class="mb-3">Business Support <br> Services</h5>
						<p class="op6 mb-3">
							Catalyzing Success: Tailored solutions for thriving businesses and entrepreneurs.
						</p>
						<a href="/support-services" class="mt-4" style="color: #a2855b">Learn more <i class="fa-solid fa-chevron-right"></i></a>
					</div>
				</div>
				<div class="col-md-4" style="float: left;padding: 0;">
					<div class="service">
						<i class="bi bi-layers"></i>
						<h5 class="mb-3">Operational <br>Services</h5>
						<p class="op6 mb-3">
							Efficiency Unleashed: Powering Your Business with Seamless Operational Excellence.
						</p>
						<a href="/operational-services" class="mt-4" style="color: #a2855b">Learn more <i class="fa-solid fa-chevron-right"></i></a>
					</div>
				</div>
				<div class="col-md-4" style="float: left;padding: 0;">
					<div class="service">
						<i class="bi bi-layers"></i>
						<h5 class="mb-3">Educational and Development <br> Services</h5>
						<p class="op6 mb-3">
							Nurturing minds, fostering growth: where education shapes boundless potential.
						</p>
						<a href="/educational-services" class="mt-4" style="color: #a2855b">Learn more <i class="fa-solid fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section primarybg col-md-12" style=";background-size: cover;padding-bottom: 100px;">
	<div class="container">
		<div class="col-md-10 offset-1">
			<h3 class="col-md-12 text-center" style="color: #a2855b;padding-left: 10px;font-weight: lighter;">CHAID's <br> Selection of Options</h3>
			<div class="col-md-12 mt-5">
				<div class="col-md-3" style="float: left;padding: 2px;">
					<div class="option-card active">
						<i class="bi bi-trophy"></i>
						<h5 class="mt-4">Ally</h5>
						<p class="mt-5" style="height: 150px;opacity: .6;">
							CHAID's Ally initiative guides businesses in a 5-year journey, fostering growth through shared ownership and programs.
						</p>
						<a href="/ally" class="std-btn link d-space-between" style="color: #fff;">Learn more <i class="fa-solid fa-chevron-right"></i></a>
					</div>
				</div>
				<div class="col-md-3" style="float: left;padding: 2px;">
					<div class="option-card">
						<i class="bi bi-trophy"></i>
						<h5 class="mt-4">Companion</h5>
						<p class="mt-5" style="height: 150px;opacity: .6;">
							CHAID's Companion option offers a five-year plan, cultivating businesses, but differs from Ally, limited partnership without shares.
						</p>
						<a href="/companion" class="std-btn link d-space-between" style="color: #fff;">Learn more <i class="fa-solid fa-chevron-right"></i></a>
					</div>
				</div>
				<div class="col-md-3" style="float: left;padding: 2px;">
					<div class="option-card">
						<i class="bi bi-trophy"></i>
						<h5 class="mt-4">Prominent</h5>
						<p class="mt-5" style="height: 150px;opacity: .6;">
							Prominent individuals customize CHAID's services. Initial consultation fee is applicable. Pay per service. Optional programs upon request or order.
						</p>
						<a href="/prominent" class="std-btn link d-space-between" style="color: #fff;">Learn more <i class="fa-solid fa-chevron-right"></i></a>
					</div>
				</div>
				<div class="col-md-3" style="float: left;padding: 2px;">
					<div class="option-card">
						<i class="bi bi-trophy"></i>
						<h5 class="mt-4">Academy</h5>
						<p class="mt-5" style="height: 150px;opacity: .6;">
							Empowering entrepreneurs with mentorship, seminars, and performance monitoring for leadership, market access, and investment readiness.
						</p>
						<a href="/academy" class="std-btn link d-space-between" style="color: #fff;">Learn more <i class="fa-solid fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section col-md-12" style="background: #f7f7f7;padding-top: 80px;">
	<div class="container">
		<div class="col-md-10 offset-1">
			<h1 class="p-text" style="color: #000;font-weight: lighter;">
				Application <br>for entrepreneurs.
			</h1>
			<div class="col-md-6 mt-3" style="float: left">
				<p style="color: #000;padding-right: 30px;opacity: .6;">
					We invest in start-ups led by passionate entrepreneurs dedicated to solving
					real-world challenges in their local contexts and that have the potential for
					significant growth.
				</p>
			</div>
			<div class="col-md-6 mt-3" style="float: left">
				<p style="color: #000;padding-right: 30px;opacity: .6;">
					Giving you access to financial backing as well as a diverse range of practical
					knowledge to enhance your startup journey. Our dedicated network of experts
					and advisors in venture building is fully committed to assisting you in creating
					a stronger foundation and maximising the progress of your start-up.
				</p>
			</div>
			<a href="/application" class="std-btn primary mt-4" style="float: left">Apply now</a>
		</div>
	</div>
</div>

<div class="section bgw col-md-12 mb-5" style=";background-size: cover;">
	<div class="container">
		<div class="col-md-10 offset-1 d-center">
			<div class="col-md-4">
				<h1 class="p-text" style="color: #a2855b;font-weight: lighter;">
					What our clients <br>have to say.
				</h1>
				<div class="slides-nav mt-4">
					<i class="bi bi-arrow-left chevron" onclick="changeTestimony({'direction':'left'})"></i>
					<i class="bi bi-arrow-right chevron" onclick="changeTestimony({'direction':'right'})"></i>
				</div>
			</div>
			<div class="col-md-8 d-center">

				<div class="col-md-12" style="padding: 5px;">
					<div class="ui-testimonial animated slideInRight active" style="padding: 40px">
						<p><span style="float: left;width: 100%;">Mr Pontsho Modishane</span> <small>Director - Pontshoana&#39;s Trading</small></p>
						<small class="mt-4">
							With a remarkable history of successfully establishing enduring businesses
							that contribute to economic growth, foster inclusive prosperity, and generate
							employment opportunities, CHAID is an excellent ally for businesses and
							entrepreneurs aiming to create a long-lasting impact for future generations.
							Here are some of our success stories
							<br><br>
							When our company needed assistance with business administration due to
							our overloaded systems and limited capacity to meet deadlines, CHAID&#39;s
							professional, well-trained, and patient team took the initiative to thoroughly
							understand our company and developed customized strategies. As a result of
							partnering with CHAID, we were able to successfully achieve all targets and
							greatly impress our clients. We enthusiastically recommend CHAID to all
							individuals we are acquainted with. If you are in search of an outstanding
							business accelerator, CHAID is the perfect choice. We are highly impressed
							with the service they provide.
						</small>
					</div>
					<div class="ui-testimonial animated slideInRight" style="padding: 40px">
						<p><span style="float: left;width: 100%;">Azariah Mampho Moloele</span> <small>Director - Mampho Mokgatla Farming</small></p>
						<small class="mt-4">
							CHAID graciously offered us a comprehensive range of business tools and
							services, which we found to be customised to suit our specific needs. We
							were delighted by the majority of the solutions and services provided. The
							one-on-one session, combined with a site visit, provided us with a truly unique
							experience with CHAID. The rapport we quickly established reassured us
							<br><br>
							greatly. Dealing with weekly and monthly reports, tax matters, grant
							applications, and other important issues became effortless. Their valuable
							service is consistently reliable, timely, and of the highest quality.
						</small>
					</div>
					<div class="ui-testimonial animated slideInRight" style="padding: 40px">
						<p><span style="float: left;width: 100%;">Modibane Vierwae Legoabe</span> <small>Director - Paledi Events Management</small></p>
						<small class="mt-4">
							My company has been in business for a few years and thanks to the
							intervention and support from CHAID, our productivity has significantly
							improved. They kindly remind us to keep our compliance-related requirements
							up to date. We consistently value their services and are extremely pleased
							with the way they have guided our company towards a successful path.
						</small>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>









