<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="ui-hero">
	<div class="ui-slide d-center active" style="">
		<div class="container">
			<div class="col-md-10 offset-1 d-space-between">
				<div class="ui-slide-caption col-md-4 animated">
					<h1 style="font-size: 50px;color: #fff;font-weight: bolder;" class="animated fadeInLeft">Push your business to new hights</h1>
					<p class="mt-4 animated fadeInLeft" style="animation-delay: .2s;opacity: .6!important;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum minus odio ipsum obcaecati.</p>
					<div class="ui-slide-caption-btns mt-5">
						<a href="#" class="std-btn primary">Learn more</a>
						<a href="#" class="std-btn secondary">Request quatation</a>
					</div>
				</div>
				<!-- <img src="/media/girl.png" class="animated fadeInRight" width="380" style="margin-bottom: -20px;margin-right: 50px;" alt=""> -->
			</div>
		</div>
	</div>
	<div class="ui-slide d-center" style="">
		<div class="container">
			<div class="col-md-10 offset-1 d-space-between">
				<div class="ui-slide-caption col-md-4 animated">
					<h1 style="font-size: 50px;color: #fff;font-weight: bolder;" class="animated fadeInLeft">Don't miss out on the events</h1>
					<p class="mt-4 animated fadeInLeft" style="animation-delay: .2s;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum minus odio ipsum obcaecati.</p>
					<div class="ui-slide-caption-btns mt-5">
						<a href="#" class="std-btn primary">Learn more</a>
						<a href="#" class="std-btn secondary">Request quatation</a>
					</div>
				</div>
				<!-- <img src="/media/girl.png" class="animated fadeInRight" width="380" style="margin-bottom: -20px;margin-right: 50px;" alt=""> -->
			</div>
		</div>
	</div>
	<div class="social-media-nav">
		<span>
			<a href="#"><i class="bi bi-facebook"></i></a>
			<a href="#"><i class="bi bi-twitter"></i></a>
			<a href="#"><i class="bi bi-instagram"></i></a>
			<a href="#"><i class="bi bi-whatsapp"></i></a>
		</span>
	</div>
</div>

<div class="section bgw col-md-12" style=";background-size: cover;">
	<div class="container">
		<div class="col-md-10 offset-1">
			<h1 class="col-md-12 text-center"><strong>Get to know us <br> a bit better</strong></h1>
		</div>
	</div>
</div>

<div class="section bgw col-md-12" style=";background-size: cover;">
	<div class="container">
		<div class="col-md-10 offset-1 d-center">
			<div class="col-md-4">
				<h1 class="p-text">
					<strong>
						What our clients have to say.
					</strong>
				</h1>
				<p class="op6">
					Lorem ipsum dolor sit amet, consectetur, adipisicing elit.
				</p>
			</div>
			<div class="col-md-8 d-center">
				<div class="col-md-4" style="padding: 5px;">
					<div class="ui-testimonial">
						<p><span style="float: left;width: 100%;">M. Phokwane</span> <small>CEO - Somethin' Techie</small></p>
						<small class="mt-4">
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, illo!
						</small>
					</div>
				</div>
				<div class="col-md-4" style="padding: 5px;">
					<div class="ui-testimonial">
						<p><span style="float: left;width: 100%;;">R. Mmanaswe</span> <small>CISCO</small></p>
						<small class="mt-4">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, sunt!
						</small>
					</div>
				</div>
				<div class="col-md-4" style="padding: 5px;">
					<div class="ui-testimonial">
						<p><span style="float: left;width: 100%;;">JJ</span> <small>Standrad Bank</small></p>
						<small class="mt-4">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, eligendi.
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>









