<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 mt-5">
	<div class="container">
		<div class="col-md-10 offset-1">
			<div class="col-md-6" style="float: left">
				<h1>Investors</h1>
				<p class="col-md-12 mt-4 op6" style="text-align: justify;">
					We offer you the chance to actively participate in the promotion of economic
					growth and contribute to the improvement of entrepreneurial skills and
					abilities. By joining us, you can drive the development of local businesses and
					contribute to the overall progress of the economy. <br><br>
					You will provide free access to our programmes by investing in
					businesses that are unable to afford CHAID&#39;s incubation programmes. This
					investment will considerably improve their chances of becoming commercially
					and socially successful businesses, positively improving our country&#39;s
					business landscape. <br><br>
					The sustainability of emerging small businesses in South Africa greatly relies
					on a combination of financial and non-financial support. By providing
					procurement opportunities to qualifying small businesses through corporate
					enterprise supplier development (ESD) strategies, the local economy will
					experience growth. These opportunities will allow ESD suppliers to expand
					and thrive, with working capital finance being provided to meet supply chain
					needs.
					Donate now
				</p>
			</div>
			<div class="col-md-6" style="float: left;padding-left: 80px;">
				<form action="#" class="ui-card bgw">
					<!-- <h2 class="mb-4">Contact form</h2> -->
					<div class="form-group">
						<label for="">Email</label>
						<div class="input-group ui-border">
							<i class="bi bi-envelope-open"></i>
							<input type="text" name="email" placeholder="Enter email">
						</div>
						<label for="">Phone number</label>
						<div class="input-group ui-border">
							<i class="bi bi-telephone"></i>
							<input type="text" name="email" placeholder="Enter mobile number">
						</div>
						<label for="">Message</label>
						<div class="input-group ui-border">
							<textarea type="text" name="email" placeholder="Enter mobile number"></textarea>
						</div>
					</div>
					<div class="form-group mt-3 col-md-12">
						<input type="submit" class="std-btn col-md-12" style="background: #01263a;border: none;">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>