<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 page-hero d-center filter" style="background-image: url('/media/black-male-team-leader-business-meeting-office.jpg');background-position: top;background-size: cover;">
	<div class="container">
		<div class="col-md-10 offset-1 text-center">
			<h1 style="font-weight: lighter;">Mentorship</h1>
			<p class="col-md-6 offset-3 mt-4" style="font-size: 14px;opacity: .6;">
				We strongly believe that one of the most impactful ways to contribute to future
				economic growth is by generously sharing your time and expertise. As a
				CHAID mentor, you have the incredible opportunity to consistently inspire and
				positively impact the lives of our entrepreneurs.
				Would you be interested in becoming a mentor?
			</p>
		</div>
	</div>
</div>
<div class="col-md-12 d-center animated fadeInUp">
	<div class="container mb-5">
		<div class="col-md-10 offset-1 mt-5">
			<h6 class="text-center" style="color: #01263a">A mentor is so fundamental to our entrepreneurs' success, that it is critical <br>
				that this relationship must have the most promising potential to effect
				meaningful change.
			</h6>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>The qualities we look for in our mentors:</span>
					<i class="bi bi-plus"></i>
				</div>
				<p style="padding: 0">
					<ul style="padding: 20px 30px">
						<li>Prior entrepreneurial or business leadership experience.</li>
						<li>Have information about networks, contacts, and stakeholders who can
							help the mentee or their business.
						</li>
						<li>Submitting a professional CV outlining work experience and
							qualifications.
						</li>
						<li>An experienced professional who is willing to pay it forward.</li>
						<li>
							Give mentees feedback on their mentorship contract, progress, and
							experience. Meet in person or online with the mentee (for example, via
							Zoom or MS Teams) to discuss their progress and assist them in
							working towards defined goals.
						</li>
					</ul>
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>As a mentor, will I have the opportunity to participate in the selection process of mentees that I will be mentoring?</span>
					<i class="bi bi-plus"></i>
				</div>
				<p>
					CHAID will collaborate with mentors to identify appropriate mentees from a list
					carefully curated by the CHAID team. This list will be tailored to each mentor&#39;s
					personal preferences, considering factors such as interests, background, and
					areas of expertise.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>How much of my time will I need to commit?</span>
					<i class="bi bi-plus"></i>
				</div>
				<p>
					The mentor orientation will take 3 (three) hours. <br>
					You must meet with your mentee for at least one hour per month, either in
					person or remotely. <br><br>
					Every quarter, the CHAID team meets with each mentor for 3 (three) hours to
					provide feedback on the mentoring activities during the previous quarter.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>Do I receive any kind of training?</span>
					<i class="bi bi-plus"></i>
				</div>
				<p>
					Our mentor training gives an overview of the CHAID Mentorship Programme
					and provides the information and tools mentors need.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>Is there a deadline for applying?</span>
					<i class="bi bi-plus"></i>
				</div>
				<p>
					No. Mentor recruitment occurs on an ongoing basis. Mentors are welcome to
					apply at any time of year.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>What are the specific goals of the CHAID Mentorship programme?</span>
					<i class="bi bi-plus"></i>
				</div>
				<p>
					Providing an effective sounding board for work-related issues and decisions
					for mentees. Assisting with personal development and confidence. Guiding
					the mentee's business through its growth stages. Assisting in the
					implementation of training and classroom learning. Working closely with
					CHAID and giving ongoing feedback and information on mentees and their
					business’ success to increase the effectiveness of our interventions.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>Who can join the Mentorship Initiative?</span>
					<i class="bi bi-plus"></i>
				</div>
				<p>
					We encourage volunteers who are skilled and experienced in their career/role to apply.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>Do I get compensated?</span>
					<i class="bi bi-plus"></i>
				</div>
				<p>
					No. The CHAID Mentorship Programme is entirely voluntary.
				</p>
			</div>

			<div class="faqs">
				<div class="col-md-12 d-space-between">
					<span>How long will the mentorship last?</span>
					<i class="bi bi-plus"></i>
				</div>
				<p>
					It is suggested to make an initial 12-month commitment that can be renewed.
				</p>
			</div>

		</div>

		<h3 class="text-center mt-5">Become a CHAID mentor</h3>
		<div class="col-md-10 offset-1">
			<div class="col-md-6 offset-3">
				<form action="#" class="ui-card bgw">
					<!-- <h2 class="mb-4">Contact form</h2> -->
					<div class="form-group">
						<label for="">Full name</label>
						<div class="input-group ui-border">
							<i class="bi bi-person"></i>
							<input type="text" name="email" placeholder="Enter full name...">
						</div>
						<label for="">Email</label>
						<div class="input-group ui-border">
							<i class="bi bi-envelope-open"></i>
							<input type="text" name="email" placeholder="Enter email...">
						</div>
						<label for="">Phone number</label>
						<div class="input-group ui-border">
							<i class="bi bi-telephone"></i>
							<input type="text" name="email" placeholder="Enter mobile number...">
						</div>
						<label for="">Location</label>
						<div class="input-group ui-border">
							<i class="bi bi-geo-alt"></i>
							<input type="text" name="email" placeholder="e.g Halfway house, Midrand, Gauteng, 1685">
						</div>
						<label for="">Message</label>
						<div class="input-group ui-border">
							<textarea type="text" name="email" placeholder="Enter message"></textarea>
						</div>
					</div>
					<div class="form-group mt-3 col-md-12">
						<input type="submit" class="std-btn col-md-12" style="background: #01263a;border: none;">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>