<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12" style="padding-bottom: 100px;background: #01263a;float: left;">
	<div class="container">
		<div class="col-md-10 offset-1">
			<div class="col-md-12">
					<div class="service-nav">
						<a href="/support-services" class="">Business Support Services</a>
						<a href="/operational-services" class="active">Operational Services</a>
						<a href="/educational-services" class="">Educational and Development Services</a>
					</div>
					<div class="service-nav mobile">
						<a href="/support-services" class="">Business Support</a>
						<a href="/operational-services" class="active">Operational</a>
						<a href="/educational-services" class="">Educational and Dev</a>
					</div>
				<div class="col-md-4 animated fadeInUp" style="float: left;padding: 0;">
					<div class="service" style="height: 400px;background: #a2855b;">
						<i class="bi bi-layers"></i>
						<h5 class="mb-3">Operational <br>Services</h5>
						<p class="op6 mb-3">
							Streamlining operations for seamless success. From precise accounting and IT support to efficient payroll and supply chain management – we ensure your business runs like a well-oiled machine.
						</p>
					</div>
				</div>
				<div class="col-md-8 animated fadeInUp" style="float: left;padding: 0;animation-delay: .4s;">
					<div class="service list" style="box-shadow: none;padding-top: 0;">
						<div class="col-md-12" style="float: left">
							<li class="list-item-li">Accounting Services</li>
							<li class="list-item-li">Imports and Exports</li>
							<li class="list-item-li">IT Support</li>
							<li class="list-item-li">Payroll Services</li>
							<li class="list-item-li">Supply Chain</li>
							<li class="list-item-li">Personnel</li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>