<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="ui-hero mobile" style="height: 300px;margin-top: 0;">
	<div class="" style="padding: 0 20px;text-align: center;">
		<div class="service-nav">
			<a href="/ally" class="">Ally</a>
			<a href="/companion" class="">Companion</a>
			<a href="/prominent" class="">Prominent</a>
			<a href="/academy" class="">Academy</a>
		</div>
		<div class="service-nav mobile">
			<a href="/ally" class="">Ally</a>
			<a href="/companion" class="">Companion</a>
			<a href="/prominent" class="">Prominent</a>
			<a href="/academy" class="">Academy</a>
		</div>
	</div>
	<div class="ui-slide d-center active" style="">
		<div class="container">
			<div class="col-md-10 offset-1 d-space-between">
				<div class="ui-slide-caption col-md-8 offset-2 animated text-center">
					<h1 style="color: #fff;" class="animated fadeInUp">CHAID'S <br> Prominent Option</h1>
					<p class="mt-4 animated fadeInUp" style="animation-delay: .2s;opacity: .6!important;">
						CHAID’s Prominent individuals wield the power to tailor CHAID's services to
						align precisely with their unique requirements. To initiate the partnership, an
						initial consultation fee is due. Clients are then billed on a per-service basis,
						enabling them to select and pay for only the specific services they require.
						Additionally, the inclusion of the Cornerstone, Preparatory, and Accelerator
						Incubator programs is available upon request or by placing an order.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section col-md-12" style="padding-bottom: 100px;">
		<div class="container">
			<div class="col-md-10 offset-1 mobile-color">
				<h3 class="text-center mb-5">What’s in it for you?</h3>
				<ul class="ol options-list">
					<li class="col-md-4" style="float: left;">Access to markets</li>
					<li class="col-md-4" style="float: left;">Accounting services</li>
					<li class="col-md-4" style="float: left;">Business advisory</li>
					<li class="col-md-4" style="float: left;">Business coaching</li>
					<li class="col-md-4" style="float: left;">Business development</li>
					<li class="col-md-4" style="float: left;">Business modelling</li>
					<li class="col-md-4" style="float: left;">Business planning</li>
					<li class="col-md-4" style="float: left;">Corporate Identity</li>
					<li class="col-md-4" style="float: left;">Compliance services</li>
					<li class="col-md-4" style="float: left;">Due diligence services</li>
					<li class="col-md-4" style="float: left;">Feasibility studies</li>
					<li class="col-md-4" style="float: left;">Financial projections</li>
					<li class="col-md-4" style="float: left;">Financial systems setup and training</li>
					<li class="col-md-4" style="float: left;">HR support</li>
					<li class="col-md-4" style="float: left;">Imports and Exports</li>
					<li class="col-md-4" style="float: left;">IT support</li>
					<li class="col-md-4" style="float: left;">Legal support</li>
					<li class="col-md-4" style="float: left;">Market research</li>
					<li class="col-md-4" style="float: left;">Marketing support</li>
					<li class="col-md-4" style="float: left;">Mentorship sessions</li>
					<li class="col-md-4" style="float: left;">Payroll services</li>
					<!-- <li class="col-md-4" style="float: left;">Personnel</li> -->
					<li class="col-md-4" style="float: left;">Start-ups services</li>
					<li class="col-md-4" style="float: left;">Supply chain</li>
					<li class="col-md-4" style="float: left;">Tax services</li>
					<li class="col-md-4" style="float: left;">Turnaround plans</li>
					<li class="col-md-4" style="float: left;">Turnaround support</li>
					<li class="col-md-4" style="float: left;">Workshops</li>
				</ul>
				<a href="#" class="std-btn primary">Get started now</a>
			</div>
		</div>
	</div>
	<div class="partners">
		<img src="/logos/Screenshot_2023-07-17_at_17.06.23-removebg-preview.png" alt="">
	</div>
</div>
<%- include('./partials/footer') %>









