<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 page-hero d-center">
	<div class="container">
		<div class="col-md-10 offset-1 text-center">
			<h1>Solutions</h1>
			<p class="col-md-6 offset-3 mt-4" style="font-size: 14px;opacity: .6;">
				Explore our Solutions page, where we specialize in B-BBEE Solutions, Social Labour Plans Solutions, Investment Opportunities for Entrepreneurs, and streamlined Application Processes for aspiring business leaders. Empowering your success journey starts here.
			</p>
		</div>
	</div>
</div>
<div class="col-md-12 d-center">
	<div class="container mb-5">
		<div class="col-md-10 offset-1 mt-5">
			<div class="col-md-6" style="float: left">
				<div class="solution">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">B-BBEE Solutions</h4>
					<p class="mt-3">
						Our holistic transformation approach enables corporations to achieve socio-economic, enterprise, and supplier development points on their B-BBEE scorecard. Leveraging expertise, we establish programs meeting B-BBEE requirements, delivering strategic value, and fostering sustainable impact on entrepreneurs. We guide eligible businesses to supply chain readiness, seamlessly integrating small and medium-sized enterprises for enduring growth.
					</p>
				</div>
			</div>
			<div class="col-md-6" style="float: left">
				<div class="solution">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">Social Labour Plans Solutions</h4>
					<p class="mt-3">
						We collaborate with mining firms, crafting and executing Social Labour Plans (SLPs). Our programs are intricately designed, efficient, and meticulously documented for strict adherence to the Department of Mineral Resources and Energy regulations. Maintaining comprehensive records, we align SLPs with your company and supplier growth needs, offering significant advantages for entrepreneurs.
					</p>
				</div>
			</div>
			<div class="col-md-6" style="float: left">
				<div class="solution">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">Investment for our entrepreneurs</h4>
					<p class="mt-3">
						We back startups helmed by impassioned entrepreneurs tackling real-world challenges in their local spheres with high growth potential. Providing financial support and a wealth of practical insights, our expert venture-building network is committed to fortifying your startup's foundation and optimizing its trajectory, ensuring sustained progress and success.
					</p>
				</div>
			</div>
			<div class="col-md-6" style="float: left">
				<div class="solution">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">Application for entrepreneurs</h4>
					<p class="mt-3">
						Embark on a journey of growth and empowerment with CHAID – Corporate Premium Aid. We're actively seeking established startups and ambitious entrepreneurs to join our mission. If you're ready to elevate your trajectory, seize the opportunity to be a part of CHAID's transformative community.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>