<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 page-hero d-center">
	<div class="container">
		<div class="col-md-10 offset-1 text-center">
			<h1>Solutions</h1>
			<p class="col-md-6 offset-3 mt-4" style="font-size: 14px;opacity: .6;">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam quibusdam totam voluptatum ullam sed reiciendis repellat consectetur suscipit expedita sint?
			</p>
		</div>
	</div>
</div>
<div class="col-md-12 d-center">
	<div class="container mb-5">
		<div class="col-md-10 offset-1 mt-5">
			<div class="col-md-6" style="float: left">
				<div class="solution">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">B-BBEE Solutions</h4>
					<p class="mt-3">
						Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Soluta suscipit harum corporis corrupti repudiandae minima quod! Ut eum voluptatum perspiciatis amet sit magni quam nisi iste ipsam quia ratione aut beatae, dolorum temporibus. Eos aspernatur fugit exercitationem est quis unde.
					</p>
				</div>
			</div>
			<div class="col-md-6" style="float: left">
				<div class="solution">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">Social Labour Plans Solutions</h4>
					<p class="mt-3">
						Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Soluta suscipit harum corporis corrupti repudiandae minima quod! Ut eum voluptatum perspiciatis amet sit magni quam nisi iste ipsam quia ratione aut beatae, dolorum temporibus. Eos aspernatur fugit exercitationem est quis unde.
					</p>
				</div>
			</div>
			<div class="col-md-6" style="float: left">
				<div class="solution">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">Investment for our entrepreneurs</h4>
					<p class="mt-3">
						Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Soluta suscipit harum corporis corrupti repudiandae minima quod! Ut eum voluptatum perspiciatis amet sit magni quam nisi iste ipsam quia ratione aut beatae, dolorum temporibus. Eos aspernatur fugit exercitationem est quis unde.
					</p>
				</div>
			</div>
			<div class="col-md-6" style="float: left">
				<div class="solution">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">Application for entrepreneurs</h4>
					<p class="mt-3">
						Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Soluta suscipit harum corporis corrupti repudiandae minima quod! Ut eum voluptatum perspiciatis amet sit magni quam nisi iste ipsam quia ratione aut beatae, dolorum temporibus. Eos aspernatur fugit exercitationem est quis unde.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>