<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12 page-hero d-center">
	<div class="container">
		<div class="col-md-10 offset-1 text-center">
			<h1>Solutions</h1>
			<p class="col-md-6 offset-3 mt-4" style="font-size: 14px;opacity: .6;">
				Explore our Solutions page, where we specialize in B-BBEE Solutions, Social Labour Plans Solutions, Investment Opportunities for Entrepreneurs, and streamlined Application Processes for aspiring business leaders. Empowering your success journey starts here.
			</p>
		</div>
	</div>
</div>
<div class="col-md-12 d-center animated fadeInUp">
	<div class="container mb-5">
		<div class="col-md-10 offset-1 mt-5">
			<div class="col-md-6" style="float: left">
				<div class="solution" style="height: 450px;">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">B-BBEE Solutions</h4>
					<p class="mt-3" style="text-align: justify;">
						Our holistic approach to transformation enables corporates to claim socio-
						economic, enterprise and supplier development points on their B-BBEE
						scorecard. <br><br>
						Our experience allows us to establish enterprise supplier development (ESD)
						programmes that deliver not only the required B-BBEE points but also
						strategic value and sustainable impact on the entrepreneurs who are
						supported and developed through corporate ESD funds. <br><br>
						We assist eligible businesses to a level where they are supply chain-ready,
						leveraging your ESD strategy to help build sustainable businesses by
						introducing small and medium-sized businesses into your supply chain.
					</p>
				</div>
			</div>
			<div class="col-md-6" style="float: left">
				<div class="solution" style="height: 450px;">
					<i class="bi bi-layers"></i>
					<h4 class="mt-4">Social Labour Plans <br>Solutions</h4>
					<p class="mt-3" style="text-align: justify;">
						We work with mining companies to design and implement elements of their
						Social Labour Plans (SLPs).
						<br><br>
						Our SLP programmes are meticulously
						structured, efficient, and comprehensively documented to ensure compliance
						with all regulations of the Department of Mineral Resources and Energy, while
						also keeping extensive records and providing proof.
						<br><br>
						Furthermore, we can
						match SLPs with your company and supplier growth requirements. This
						possibility provides considerable advantages to our entrepreneurs.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>