<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="section primarybg col-md-12" style="padding-bottom: 100px;background: #01263a;">
	<div class="container">
		<div class="col-md-10 offset-1">
			<div class="col-md-12">

					<div class="service-nav">
						<a href="#" class="active">Business Support Services</a>
						<a href="#" class="">Operational Services</a>
						<a href="#" class="">Business Support Services</a>
					</div>
				<div class="col-md-4" style="float: left;padding: 0;">
					<div class="service" style="height: 400px;background: #a2855b;">
						<i class="bi bi-layers"></i>
						<h5 class="mb-3">Business Support <br> Services</h5>
						<p class="op6 mb-3">
							Elevate your business to new heights with our comprehensive suite of Business Support Services. From strategic planning to compliance, we're here to fuel your success journey. Unleash potential today!
						</p>
					</div>
				</div>
				<div class="col-md-8" style="float: left;padding: 0;">
					<ol class="service" style="box-shadow: none;padding-top: 0;">
						<div class="col-md-6" style="float: left">
							<li class="list-item">1. Business Advisory</li>
							<li class="list-item">2. Business Coaching</li>
							<li class="list-item">3. Business Development</li>
							<li class="list-item">4. Business Modeling</li>
							<li class="list-item">5. Business Planning</li>
							<li class="list-item">6. Corporate Identity</li>
							<li class="list-item">7. Compliance Services</li>
							<li class="list-item">8. Due Diligence Services</li>
						</div>
						<div class="col-md-6" style="float: left">
							<li class="list-item">10. Business Advisory</li>
							<li class="list-item">10. Business Coaching</li>
							<li class="list-item">11. Business Development</li>
							<li class="list-item">12. Business Modeling</li>
							<li class="list-item">13. Business Planning</li>
							<li class="list-item">14. Corporate Identity</li>
							<li class="list-item">15. Compliance Services</li>
							<li class="list-item">16. Due Diligence Services</li>
						</div>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>