<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12" style="padding-bottom: 100px;background: #01263a;float: left;">
	<div class="container">
		<div class="col-md-10 offset-1">
			<div class="col-md-12">
					<div class="service-nav">
						<a href="/support-services" class="active">Business Support Services</a>
						<a href="/operational-services" class="">Operational Services</a>
						<a href="/educational-services" class="">Educational and Development Services</a>
					</div>
				<div class="col-md-4 animated fadeInUp" style="float: left;padding: 0;">
					<div class="service" style="height: 400px;background: #a2855b;">
						<i class="bi bi-layers"></i>
						<h5 class="mb-3">Business Support <br> Services</h5>
						<p class="op6 mb-3">
							Elevate your business to new heights with our comprehensive suite of Business Support Services. From strategic planning to compliance, we're here to fuel your success journey. Unleash potential today!
						</p>
					</div>
				</div>
				<div class="col-md-8 animated fadeInUp" style="float: left;padding: 0;animation-delay: .4s;">
					<ol class="service" style="box-shadow: none;padding-top: 0;">
						<ul class="col-md-6" style="float: left;">
							<li class="list-item">1. Business Advisory</li>
							<li class="list-item">2. Business Coaching</li>
							<li class="list-item">3. Business Development</li>
							<li class="list-item">4. Business Modeling</li>
							<li class="list-item">5. Business Planning</li>
							<li class="list-item">6. Corporate Identity</li>
							<li class="list-item">7. Compliance Services</li>
							<li class="list-item">8. Due Diligence Services</li>
							<li class="list-item">10. Feasibility Studies</li>
						</ul>
						<div class="col-md-6 animated fadeInUp" style="float: left;">
							<li class="list-item">11. Financial Projections</li>
							<li class="list-item">12. HR Support</li>
							<li class="list-item">13. Legal Suppor</li>
							<li class="list-item">14. Marketing Support</li>
							<li class="list-item">15. Start-ups Services</li>
							<li class="list-item">16. Tax Services</li>
							<li class="list-item">16. Turnaround Plans</li>
							<li class="list-item">16. Turnaround Support</li>
						</div>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>