<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="col-md-12" style="padding-bottom: 100px;background: #01263a;float: left;">
	<div class="container">
		<div class="col-md-10 offset-1">
			<div class="col-md-12">
					<div class="service-nav">
						<a href="/support-services" class="active">Business Support Services</a>
						<a href="/operational-services" class="">Operational Services</a>
						<a href="/educational-services" class="">Educational and Development Services</a>
					</div>
					<div class="service-nav mobile">
						<a href="/support-services" class="active">Business Support</a>
						<a href="/operational-services" class="">Operational</a>
						<a href="/educational-services" class="">Educational and Dev</a>
					</div>
				<div class="col-md-4 animated fadeInUp" style="float: left;padding: 0;">
					<div class="service" style="height: 400px;background: #a2855b;">
						<i class="bi bi-layers"></i>
						<h5 class="mb-3">Business Support <br> Services</h5>
						<p class="op6 mb-3">
							Elevate your business to new heights with our comprehensive suite of Business Support Services. From strategic planning to compliance, we're here to fuel your success journey. Unleash potential today!
						</p>
					</div>
				</div>
				<div class="col-md-8 animated fadeInUp" style="float: left;padding: 0;animation-delay: .4s;">
					<div class="service list" style="box-shadow: none;padding-top: 0;">
						<ul class="col-md-6" style="float: left;">
							<li class="list-item-li"> Business Advisory</li>
							<li class="list-item-li"> Business Coaching</li>
							<li class="list-item-li"> Business Development</li>
							<li class="list-item-li"> Business Modeling</li>
							<li class="list-item-li"> Business Planning</li>
							<li class="list-item-li"> Corporate Identity</li>
							<li class="list-item-li"> Compliance Services</li>
							<li class="list-item-li"> Due Diligence Services</li>
							<li class="list-item-li"> Feasibility Studies</li>
						</ul>
						<ui class="col-md-6 animated fadeInUp" style="float: left;">
							<li class="list-item-li">Financial Projections</li>
							<li class="list-item-li">HR Support</li>
							<li class="list-item-li">Legal Support</li>
							<li class="list-item-li">Marketing Support</li>
							<li class="list-item-li">Start-ups Services</li>
							<li class="list-item-li">Tax Services</li>
							<li class="list-item-li">Turnaround Plans</li>
							<li class="list-item-li">Turnaround Support</li>
						</ui>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer') %>